body{
    margin: 0px;
    padding: 0px;
}
textarea{
	border: 0px;
    background: #efecec;
    height: 320px;
    width: 95%;
}
.topband{
	background-color: #dadada;
    padding: 10px;
    width: 97.5%;
    box-sizing: border-box;

}
.blockQuote{
    width: 50%;
    //padding: 10px;
    float:left;
    box-sizing: border-box;
}
.contentBody{

}
